<section id="blog-comments" class="blog-comments section">

    <div class="container">

        <h4 class="comments-count">0 Yorum</h4>

        <div id="comment-1" class="comment">
            <div class="d-flex">
                <div class="comment-img"><img src="/ZenBlog-1.0.0/assets/img/blog/comments-1.jpg" alt=""></div>
                <div>
                    <h5><a href="">Harun Tamokur</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Yanıtla</a></h5>
                    <time datetime="2020-01-01">Tarih</time>
                    <p>
                        Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                        Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                    </p>
                </div>
            </div>
        </div><!-- End comment #1 -->

    </div>

</section>